:root {
    --hint-table-border-radius: 8px;
}

/* タイトル */
.questions_title {
    font-size: large;
    font-weight: bold;
    background-color: #1cb0f652;
    width: 450px;
    padding: 20px 5px;
    border-radius: 5px;
    color: #fff;
}

#hint_table, #hint_table td {
    margin: 10px 20px;
    border: 1px solid rgb(126, 182, 126);
    background-color: #eee;
}
#hint_table {
    border-collapse: separate;
    border-radius: var(--hint-table-border-radius);
    border-spacing: 0px;
}
#hint_table td {
    padding: 4px 10px;
    text-align: center;
}
#hint_table td.hintHead {
    background-color: rgb(193, 222, 193);
}

/* テーブルの角を丸く */
#hint_table tr:first-child td:first-child {
    border-radius: var(--hint-table-border-radius) 0 0 0;
}
#hint_table tr:first-child td:last-child {
    border-radius: 0 var(--hint-table-border-radius) 0 0;
}
#hint_table tr:last-child td:first-child {
    border-radius: 0 0 0 var(--hint-table-border-radius);
}
#hint_table tr:last-child td:last-child {
    border-radius: 0 0 var(--hint-table-border-radius) 0;
}
