
.control_panel {
    display: flex;
    width: 450px;
    justify-content: space-between;
    align-items: center;
}

.result_table {
    background-color: #fff;
}
.result_table th, .result_table td {
    padding: 0px 10px;
    border: 1px solid #eef;
    text-align: center;
}
.result_table th {
    font-weight: normal;
    font-size: smaller;
}
.result_table td .result_value {
    font-size: larger;
}
