
.qlist-container {
    width: 450px;
    height: 300px;
    overflow: auto;

    background-color: #fff;
    padding: 20px 10px;
    margin: 10px 0;
    border: 3px solid #696;
    border-radius: 5px;
    box-shadow: inset -5px 5px 20px #242;
}
