@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GLMahjongTile";
  src: url("./fonts/GL-MahjongTile/GL-MahjongTile.ttf") format("truetype");
}

html {
  min-height:100%;
}

body {
  margin: 0 10px;
  font-family: ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,Osaka,ＭＳ Ｐゴシック,MS PGothic,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, rgb(193, 237, 197), rgb(160, 185, 153));
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  margin: 20px 0px;
}

/* CSS */
.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0px 4px;
  min-width:70px;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}


/* 個別要素 */

.font-mahjong {
  font-family: "GLMahjongTile";
  font-size:60px;
  white-space: nowrap;
}

.font-mahjong-size-l {
  font-size:60px;
  line-height: 40px;
  margin-bottom: 15px;
}
.font-mahjong-size-m {
  font-size:40px;
  line-height: 30px;
  margin-bottom: 7px;
}
.font-mahjong-size-s {
  font-size:30px;
  line-height: 24px;
  margin-bottom: 5px;
}
